layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="dev" {
    pane {
      name "main"
      focus true // not work
    }
    floating_panes {
      pane {
        name "gsql"
        focus true // work
        x "48%"
        y "1%"
        width "50%"
        height "25%"
      }
      pane {
        name "watch"
        command "watch"
        args "-d" "ccache" "-sv"
        x "5%"
        y "66%"
        width "55%"
        height "30%"
      }
      pane {
        name "btop"
        command "btop"
        x "10%"
        y "25%"
        width "85%"
        height "50%"
      }
    }
  }
}